header {
    background-color: #BBBBBB ;
    padding: 20px 0 ;
}
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase; /* DEIXA TUDO EM MAIUSCULO  */
    color: black;
    font-weight: bold;         /* DEIXA O TEXTO EM NEGRITO */
    font-size: 22px;
    text-decoration: none;     /* TIROU A DECORAÇÃO DO TEXTO NESSE CASO AQUELE SUBLINHADO*/
} 
nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}
.banner { 
    background-color: #BBBBBB; !!!!
}
footer {
    text-align: center;
    background-image: url(imgs/bg.jpg);
    padding: 40px 0;
}
.copyright {
	color: white;
	font-size: 13px;
	margin-top: 20px;
}