header {
    background-color: #735838;
    padding: 10px 0 ;
}
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase; /* DEIXA TUDO EM MAIUSCULO  */
    color: black;
    font-weight: bold;         /* DEIXA O TEXTO EM NEGRITO */
    font-size: 22px;
    text-decoration: none;     /* TIROU A DECORAÇÃO DO TEXTO NESSE CASO AQUELE SUBLINHADO*/
} 
nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}  
.topico_inicial {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    padding-top: 20px;
}
.lugares {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.lugares li {
    text-align: center;
    display:inline-block ;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color:black ;
    border-width: 2px;
    border-style: solid; /* TEMOS VARIOS ESTILOS DE BORDA COMO O SOLID, O DASHED, DOTTED */
    border-radius: 10px;
}
 .lugares li:hover {
    border-color:#C78C19 ;
}
.lugares li:active {
    border-color: green;
}
.lugares li:hover h2 {
    font-size: 35px;

}
.lugares h2 {
    font-size: 30px;
    font-weight: bold;
}
.lugares-descrição {
    font-size:18px;
}
.tel-num {
    font-size: 22PX;
    font-weight: bold;
    margin-top: 10px;
}
.cobra_lugar {
    font-size: 20px;
    text-align: center;
    margin: 10px;
}
#cobra_selva {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
footer {
    text-align: center;
    background-color: #401E01;
    padding: 40px 0;
}
.copyright {
	color: white;
	font-size: 13px;
	margin-top: 20px;
}